.color {
    color: blue;
    font-size: 25px;
    font-weight: bold;
    font-family: AjackusRegular;
    letter-spacing: 2px;
}

.color2 {
    color: red;
    font-size: 22px;
    font-weight: bold;
    font-family: AjackusRegular;
}

.margin {
    margin-top: 2%;
}

.headerfont {
    color: #de3c3c;
    font-family: AjackusBold;
    font-size: 50px;
}

.regularfont {
    font-family: AjackusRegular;
    color: grey;
    font-size: 18px;
}