<div class="container">
    <img class="pull-left" src="../../../assets/images/Request Access.png" alt="Request_access">
    <br>
    <br>

    <div class="row d-flex justify-content-center">   
        <span class="color ">re</span><span class="color2 d-flex justify-content-center">Q</span>
    </div>

    <div class="row d-flex justify-content-center margin">
        <h2 class="headerfont">Thank You!</h2>
    </div>
    <div class="row d-flex justify-content-center">
        <h2 class="headerfont">We'll back to you soon.</h2>
    </div>
    <div class="row d-flex justify-content-center margin">
        <span class="regularfont">Please check your email</span> 
    </div>
   
</div>