/* You can add global styles to this file, and also import other style files */

@import url(https://unpkg.com/bootstrap@4.3.1/dist/css/bootstrap.min.css);

@font-face {
    font-family: AjackusBold;
    src: url("../src/assets/Fonts/SF-Compact-Display-Bold.otf") format("opentype");
}

@font-face {
    font-family: AjackusRegular;
    src: url("../src/assets/Fonts/SF-Compact-Display-Regular.otf") format("opentype");
}