<div class="container">
    <img class="pull-left col-md-12 col-sm-12" src="../../../assets/images/Request Access.png" alt="Request_access">
    <br>
    <br>

    <div class="col-md-12 col-sm-12">
        <div class="row d-flex justify-content-center">
            <span class="color ">re</span><span class="color2 d-flex justify-content-center">Q</span>
        </div>

        <div class="row d-flex justify-content-center margin">
            <h2 class="headerfont">Real Estate Investing Information</h2>
        </div>

        <div class="row d-flex justify-content-center">
            <h2 class="headerfont">That Matters To You.</h2>
        </div>

        <div class="row d-flex justify-content-center margin">
            <span class="regularfont">Limited to San Francisco Bay Area - join our BETA!</span>
        </div>

        <div class="row d-flex justify-content-center margin">
            <button type="button" class="btn danger" (click)="LinkedinSignup()">SIGN UP WITH LINKEDIN</button>
        </div>

        <div class="row d-flex justify-content-center margin">
            <button type="button" class="btn transparent">SIGN IN</button>
        </div>
    </div>
</div>